:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(142, 90%, 61%);
}

*,
*::before
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  min-width: 100vh;
  place-items: center;
  line-height: 1.6;
  background: var(--clr-neutral-900);
  font-family: sans-serif;
}

.card {
  color: var(--clr-neutral-100);
  background-image: url(img/two-tree.jpeg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  left: calc(var(--padding) * -1);
  bottom: 0;
  height: 3px;
  width: calc(100% + var(--padding));
  background: var(--clr-neutral-400);
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-400);
  padding: 0.5em 1.25em;
}

.button:hover,
.button:focus {
  color:var(--clr-neutral-900);
  background-color:var(--clr-neutral-100);
}
