:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(142, 90%, 61%);

  --clr-gradient-0: hsl(0 0% 0% / 0);
  --clr-gradient-30: hsl(20 0% 0% / .3);
  --clr-gradient-100: hsl(0 0% 0% / 1);
}

*,
*::before
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  min-width: 100vh;
  place-items: center;
  line-height: 1.6;
  background: var(--clr-neutral-900);
  font-family: sans-serif;
}

.card {
  color: var(--clr-neutral-100);
  background-image: url(img/two-tree.jpeg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
}

.card-content {
  padding: 1.5em;
  background: linear-gradient(
    var(--clr-gradient-0),
    var(--clr-gradient-30) 20%,
    var(--clr-gradient-100),
  );
}