<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>인프런 과제 테스트</title>
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <section class="course-section">
      <header>
        <h2 class="sr-only">강의 검색창</h2>
        <div class="course-search">
          <input id="course-search--input" />
          <span class="search-icon"> <i class="bx bx-search"></i></span>
        </div>
        <button class="course-add-btn">
          <span class="add-icon">
            <i class="bx bx-message-square-add"></i
          ></span>
        </button>
      </header>
      <div class="course-container">
        <section class="course-card-list">
          <div class="error-modal">
            <div class="error-container">
              <strong>서버에서 리스트를 불러오는데 실패 했습니다.</strong>
              <button>OK</button>
            </div>
          </div>
          <h2 class="sr-only">강의 리스트</h2>
          <ul>
            <li>
              <article class="course-card-content">
                <h2 class="sr-only">
                  Oracle SQL Database 11g PL/SQL Developer
                </h2>
                <div class="img-thumbnail">
                  <img
                    src="https://via.placeholder.com/400x400"
                    alt="Oracle SQL Database 11g PL/SQL Developer"
                  />
                </div>
                <strong class="course-title twoline-ellipsis"
                  >Oracle SQL Database 11g PL/SQL Developer</strong
                >
                <h3 class="course-tutor">지식공유자400</h3>
                <h3 class="course-price">18000</h3>
              </article>
            </li>
            <li>
              <article class="course-card-content">
                <h2 class="sr-only">
                  Oracle SQL Database 11g PL/SQL Developer
                </h2>
                <div class="img-thumbnail">
                  <img
                    src="https://via.placeholder.com/400x400"
                    alt="Oracle SQL Database 11g PL/SQL Developer"
                  />
                </div>
                <strong class="course-title"
                  >Oracle SQL Database 11g PL/SQL Developer</strong
                >
                <h3 class="course-tutor">지식공유자400</h3>
                <h3 class="course-price">18000</h3>
              </article>
            </li>
            <li>
              <article class="course-card-content">
                <h2 class="sr-only">
                  Oracle SQL Database 11g PL/SQL Developer
                </h2>
                <div class="img-thumbnail">
                  <img
                    src="https://via.placeholder.com/400x400"
                    alt="Oracle SQL Database 11g PL/SQL Developer"
                  />
                </div>
                <strong class="course-title"
                  >Oracle SQL Database 11g PL/SQL Developer</strong
                >
                <h3 class="course-tutor">지식공유자400</h3>
                <h3 class="course-price">18000</h3>
              </article>
            </li>
            <li>
              <article class="course-card-content">
                <h2 class="sr-only">
                  Oracle SQL Database 11g PL/SQL Developer
                </h2>
                <div class="img-thumbnail">
                  <img
                    src="https://via.placeholder.com/400x400"
                    alt="Oracle SQL Database 11g PL/SQL Developer"
                  />
                </div>
                <strong class="course-title"
                  >Oracle SQL Database 11g PL/SQL Developer</strong
                >
                <h3 class="course-tutor">지식공유자400</h3>
                <h3 class="course-price">18000</h3>
              </article>
            </li>
            <li>
              <article class="course-card-content">
                <h2 class="sr-only">
                  Oracle SQL Database 11g PL/SQL Developer
                </h2>
                <div class="img-thumbnail">
                  <img
                    src="https://via.placeholder.com/400x400"
                    alt="Oracle SQL Database 11g PL/SQL Developer"
                  />
                </div>
                <strong class="course-title"
                  >Oracle SQL Database 11g PL/SQL Developer</strong
                >
                <h3 class="course-tutor">지식공유자400</h3>
                <h3 class="course-price">18000</h3>
              </article>
            </li>
            <li>
              <article class="course-card-content">
                <h2 class="sr-only">
                  Oracle SQL Database 11g PL/SQL Developer
                </h2>
                <div class="img-thumbnail">
                  <img
                    src="https://via.placeholder.com/400x400"
                    alt="Oracle SQL Database 11g PL/SQL Developer"
                  />
                </div>
                <strong class="course-title twoline-ellipsis"
                  >Oracle SQL Database 11g PL/SQL DeveloperOracle SQL Database
                  11g PL/SQL Developer</strong
                >
                <h3 class="course-tutor">지식공유자400</h3>
                <h3 class="course-price">18000</h3>
              </article>
            </li>
          </ul>
        </section>
      </div>
    </section>
  </body>
</html>
