@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:wght@500;700;900&display=swap");

*,
::before,
::after {
  box-sizing: content-box;
}

html,
body {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

/* 2줄이상 말줄임 */
.twoline-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

:root {
  --first-color: #50cb93;
  --second-color: #0e2431;
  --third-color: #71efa3;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.course-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.course-container {
  width: 90%;
  /* background: grey; */
  margin-bottom: 135px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ===== HEADER ===== */
.course-section > header {
  width: 100%;
  /* background: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.course-search {
  width: 250px;
  height: 50px;
  /* background: gray; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.course-search > input {
  height: 35px;
  width: 230px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.course-search > input:focus {
  outline-color: var(--first-color);
}

.search-icon {
  position: absolute;
  top: 12px;
  right: 13px;
  width: 30px;
  height: 30px;
  font-size: 1.8rem;
  color: var(--second-color);
}

.search-icon:hover {
  cursor: pointer;
}

.course-add-btn {
  position: relative;
  background: rgba(0,0,0,0);
  outline: 0;
  border: 0;
  cursor: pointer;
  width: 30px;
  height: 35px;
}


.add-icon {
  position: absolute;
  top : 5px;
  left: 7px;
  width: 30px;
  height: 30px;
  font-size: 1.8rem;
  color: var(--second-color);
}

.search-icon:hover, .add-icon:hover {
  color: var(--first-color)
}

/* ===== Error ===== */

.error-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.error-container {
  width: 350px;
  height: 180px;
  background: rgba(255,255,255,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2%;
  position: relative;
}

.error-container strong {
  margin: 15px;
  position: absolute;
  top: 25px;
  font-size: 1.5rem;
  color: red;
  text-align: center;
  line-height: 35px;
}

.error-container > button {
  position: absolute;
  width: 25px;
  bottom: 15px;
  font-size: 2rem;
  background: rgba(0,0,0,0);
  outline: 0;
  display: block;
  border: 0;
  cursor: pointer;
  width: 130px;
  height: 35px;
  display: block;
}

.error-container > button:hover {
  color: var(--first-color)
}

/* ===== Loading ===== */
/* https://codepen.io/znxkznxk1030/pen/oNWLEWB from my own spinner */

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.1); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  max-width: 130px;
  animation: 2s linear infinite svg--animation;
}

circle {
  fill: transparent;
  stroke: var(--first-color);
  stroke-width: 10;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  /* A default start point of svg circle is 3'o clock */
  stroke-dasharray: 283;
  animation: 1.4s ease-in-out infinite both circle--animation;
}

@keyframes circle--animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

@keyframes svg--animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* ===== LIST ===== */

.course-card-list {
  width: 100%;
  max-width: 1200px;
}

.course-card-list > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* overflow-y: scroll; */
}

.course-card-list > ul > li {
  margin: 0.5rem 0.1rem 0.5rem 0.1rem;
}

.course-card-content {
  width: 80vw;
  overflow: hidden;
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  position: relative;
}

@media screen and (min-width: 601px) {
  .course-card-content {
    width: 40vw;
  }
}

@media screen and (min-width: 1100px) {
  .course-card-list > ul {
    justify-content: space-around;
  }
  .course-card-content {
    width: 350px;
  }
  .course-card-content:hover {
    cursor: pointer;
  }

  .course-card-content::after {
    content: "컨텐츠로 이동";
    text-align: center;
    font-size: 2rem;
    padding-top: calc(50% - 3rem);
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.6;
    transform-origin: bottom;
    transform: scaleY(0);
    border-radius: 3px;
  }

  .course-card-content:hover::after {
    transform: scaleY(1);
  }
}

.img-thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 0.5rem;
}

.img-thumbnail > img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.course-tutor {
  margin-top: 0.5rem;
  color: #7d7d7d;
}

.course-price {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 1.3px;
  color: var(--first-color);
}
