html, body {
  margin: 0;
  padding: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  /* color:aliceblue; */
}

* {
  box-sizing: border-box;
}

body {
  /* background-color: aliceblue; */
  font-family: sans-serif;
}

.container {
  height: 300vh;
  width: 100vw;
}
.intro {
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
}

.intro video {
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: black;
  z-index:100;
}

#intro__video {
  width: 100vw;
  height: auto;
  /* background: #000; */
  z-index: 10;
}