@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
/* ====== VARIABLE ====== */
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/* ====== COLOR ====== */
:root {
  --first-color: #50CB93;
  --second-color: #0e2431;
}

/* ====== FONT ====== */
:root {
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/* ====== MARGIN ====== */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* ====== Z-INDEX ====== */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-canvas: 0;
  --z-fixed: 100;
}

/* ====== RESET ====== */
*,::before,::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* margin: var(--header-height) 0 0 0; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color); 
}

h1,h2,p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  text-align: center;
}

.section-title::after {
  position:absolute;
  content :"";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

section {
  padding-top: 3rem;
  padding-bottom: 2rem;
  position: relative;
  height: 100vh;
}


/* ====== LAYOUT ====== */
.l-header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.l-main {
  margin: var(--header-height) 0 0 0;
}

.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/* Desktop */
@media screen and (min-width: 769px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }
}

/* ====== NAVBAR ====== */
.nav {
  width: calc(100% - 2rem);
  height: var(--header-height);
  margin: 0 var(--mb-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transform: translateX(100%);
    transition: transform .3s ease-out;
  }
}

.nav__logo {
  color: var(--first-color);
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  color: #fff;
  position: relative;
}

.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__show {
  /* right: 0; */
  transform: translateX(0);
  transition: transform .3s ease-in;
}

/* Desktop */
@media screen and (min-width: 769px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
  }

  .nav__item {
    margin: 0 1rem;
  }

  .nav__item a {
    color: var(--second-color);
  }

  .nav__link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 1.65rem;
    background-color: var(--first-color);
    transform: scale(0);
  }

  /* .nav__link::after {
    transform: translateX(0),
  } */

  .active::after {
    transform: scale(1.25);
    transition: all .3s ease-in;
  }

  .nav__toggle {
    display: none;
  }
}


/* ====== HOME ====== */
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home__data {
  align-self: center;
  margin-left: var(--mb-5);
  margin-right: var(--mb-2);
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__name {
  /* content: "Cool Fun Sexy"; */
  color: #fff;
  left: 2em;
}

.home__bubble-container {
  position: absolute;
  width: 150px;
  height: 650px;
  /* background: red; */
  right: 52px;
  top: -600px;
}

.home__title--color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 3rem;
  margin-left: var(--mb-5);
}

.home__social--icon {
  width: max-content;
  font-size: 2rem;
  margin-bottom: var(--mb-4);
  color: var(--second-color);
}

.home__social--icon:hover {
  color: var(--first-color);
}

.home__image {
  position: absolute;
  bottom: 3rem;
  right: 1rem;
}

:root {
  --home-image-size: 300px;
}

.home__image--blob {
  width: var(--home-image-size);
}

.home__image--snorkel {
  position: absolute;
  width: 95px;
  left: 93px;
  top: 50px;
  transform: rotate(-3deg);
}

.home__image--gold {
  position: absolute;
  width: 100px;
  left: 95px;
  top: 135px;
  transform: rotate(-3deg);
}



.button {
  display: inline;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  border: #fff 3px solid;
}

.button:hover {
  box-shadow: 0 10px 50px rgba(0,0,0,.15);
}

.canvas--home-wave {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 105%;
  z-index: var(--z-back);
}

@media screen and (min-width: 901px) {
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home__data {
    position: relative;
    /* width: 900px; */
  }

  .home__title {
    font-size: 4.5rem;
  }

  .home__image {
    top: 1rem;
    right: -4rem;
  }
  
}

/* ====== Skills ====== */

.skills {
  height: calc(100vh - 3rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.skills__subtitle {
  text-align: center;
  margin: 1.5rem 0;
}

.skills__text {
  width: 90%;
  text-align: center;
  margin: 0 auto 3rem auto;
}

.skills__data {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  position: relative;
  border-radius: .5rem;
  box-shadow: 5px 5px 10px #00000059;
  color: #0e2431;
  margin: 1rem auto;
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__percentage {
  display: flex;
  align-items: center;
}

.skills__icon{
  font-size: 2rem;
  color: #50CB93;
  margin-right: .5rem;
}

.skills__bar {
  position: absolute;
  border-radius: .25rem;
  left: 0;
  bottom: 0;
  height: .25rem;
  width: 80%;
  background: #50CB93;
}

.skills__bar--javascript {
  width: 90%;
}

.skills__bar--react {
  width: 70%;
}

.skills__bar--spring-boot{
  width: 60%;
}

@media screen and (min-width: 901px) {
  .skills__data  {
    max-width: 550px;
  }
}

/* ====== Footer ====== */
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--semi-font);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-3);
}

.footer__social{
  margin-bottom: var(--mb-3);
}

.footer__icon {
  margin: 0 var(--mb-2);
  font-size: 1.5rem;
  color: #fff;
}

